.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.container > *:not(:last-child) {
  margin-bottom: 1rem;
}

.icon {
  font-size: 2rem;
}

.title {
  font-size: 1.5rem;
}
