.button {
  background: var(--yellow);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-weight: 700;
  border: 1px solid transparent;
}

.button:hover {
  cursor: pointer;
  border-color: black;
}

.button:disabled {
  background: var(--grey);
  border: 1px solid transparent;
  pointer-events: none;
  user-select: none;
}
