.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.posts {
  max-width: 40rem;
  width: 100%;
}

.posts > *:not(:last-child) {
  margin-bottom: 1rem;
}

.sidebar {
  margin-left: 1rem;
  max-width: 15rem;
  width: 100%;
}

.box {
  position: sticky;
  top: calc(var(--header-height) + 1rem);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--darker-grey);
  padding: 1rem;
}

.box > *:not(:last-child) {
  margin-bottom: 1rem;
}

.box_header {
  font-weight: 700;
}

.community_text {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}
