.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
}

.name {
  grid-row: 1/2;
  grid-column: 1/2;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

.name:hover {
  text-decoration: underline;
}

.members {
  grid-row: 2/3;
  grid-column: 1/2;
}

.container > button {
  grid-row: 1/-1;
  grid-column: 2/-1;
}
