.nav_bar {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.list > *:not(:last-child) {
  margin-right: 1rem;
}

.icon_link {
  display: flex;
  border-radius: 50%;
  padding: 0.5rem;
  color: black;
}

.icon_link:hover {
  background: var(--yellow);
}
