.container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.wrapper {
  max-width: 40rem;
  width: 100%;
}

.wrapper > *:not(:last-child) {
  margin-bottom: 1rem;
}

.comments {
  border: 1px solid var(--darker-grey);
}
